<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>IsWebsiteUp | Check if a website is up or down right now?</title>
    <link rel="icon" type="image/png" href="img/logo.png" sizes="16x16">

    <meta name="description"
        content="An easiest way to check if a website is down or up right now. Check if website is down just for you or everyone.">
    <meta name="keywords" content="Website,Up,Down,Check,Right,Now,For,Me,Uptime">
    <meta name="author" content="Nemanja Petrovic (nempet.me)">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="IsWebsiteUp">
    <meta property="og:title" content="IsWebsiteUp | Check if a website is up or down right now?">
    <meta property="og:description"
        content="An easiest way to check if a website is down or up right now. Check if website is down just for you or everyone.">
    <meta property="og:image" content="https://iswebsiteup.com/img/logo.png">
    <meta property="og:url" content="https://iswebsiteup.com">

    <meta name="twitter:title" content="IsWebsiteUp | Check if a website is up or down right now?">
    <meta name="twitter:description"
        content="An easiest way to check if a website is down or up right now. Check if website is down just for you or everyone.">
    <meta name="twitter:image" content="https://iswebsiteup.com/img/logo.png">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />

    <!-- Load fonts -->
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400italic" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="./css/index.css">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153621880-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-153621880-1');
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row align-items-center h-100 justify-content-center">
            <div class="col">
                <div id="home" class="wrapper inactive">
                    <h1 id="logo"><img src="img/logo.png" width="64" height="64"
                            alt="is a website up or down right now?" /> Is Website Up?</h1>
                    <div class="inner">
                        <p>check if a website is up or down right now?</p>
                    </div>
                    <!-- Website-Check -->
                    <div id="website-check" style="display: none;">
                        <span class="emoji">&#129300;</span>
                        <p class="website-status saving">Checking<span>.</span><span>.</span><span>.</span></p>
                    </div>
                    <!-- #Website-Check -->
                    <!-- Result-Website-Up -->
                    <div id="website-up" style="display: none;">
                        <span class="emoji">😎</span>
                        <p class="website-status up">
                            Yey, website is up!
                        </p>
                    </div>
                    <!-- #Result-Website-Up -->
                    <!-- Result-Website-Down -->
                    <div id="website-down" style="display: none;">
                        <span class="emoji">😱</span>
                        <p class="website-status down">
                            Oh no, website is down!
                        </p>
                    </div>
                    <!-- #Result-Website-Down -->
                    <form id="check-url-form" method="GET">
                        <input type="text" name="url" id="url" placeholder="test.com" autofocus>
                        <div class="inner">
                            <button id="check-btn" class="btn" type="submit">Check</button>
                            <p style="margin-top:30px;">
                                Made with ❤️ by <a href="https://nempet.me">Nemanja</a>.
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"
        integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"
        integrity="sha256-vb+6VObiUIaoRuSusdLRWtXs/ewuz62LgVXg2f1ZXGo=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>

    <script>
        function websiteLoaded() {
            // Loading design components and cleaning up
            $(".inner").css({
                paddingBottom: "30px"
            });

            $('#website-check').hide();
            $('#website-up').hide();
            $('#website-down').hide();

            $('#home').fadeIn(300).removeClass('inactive');
            $('#url').val('');
            $('#url').focus();
        };

        function checkInitialized() {
            $('#website-up').hide();
            $('#website-down').hide();

            $(".inner").css({
                paddingBottom: "0px"
            });

            $('#website-check').show();
        };

        $(document).ready(function () {
            websiteLoaded();

            function checkUrl() {
                checkInitialized();

                $.get('/' + encodeURIComponent($("#url").val()), function (res) {
                    $('#website-check').hide();
                    switch (res.message) {
                        case 'Up':
                            $('#website-up').fadeIn(300).show();
                            break;
                        default:
                            $('#website-down').fadeIn(300).show();
                    }
                });
            };

            // Registering form regex method validator
            $.validator.addMethod('validUrl', function (value, element) {
                var url = $.validator.methods.url.bind(this);
                return url(value, element) || url('http://' + value, element);
            }, 'Please enter a valid URL');

            // Registering form validator
            $('#check-url-form').validate({
                rules: {
                    url: {
                        required: true,
                        validUrl: true
                    }
                },
                messages: {
                    url: {
                        required: 'URL is required.',
                        validUrl: 'Invalid URL.'
                    }
                },
                errorElement: 'div',
                submitHandler: function (form) {
                    checkUrl();
                    return false;
                }
            });

            // OnClick handle
            $('#check-btn').click(function (e) {
                e.preventDefault();
                if (!$('#check-url-form').valid()) {
                    return false;
                }
                checkUrl();
            });
        });
    </script>
</body>

</html>