<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="img/logo.png" sizes="16x16">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />

    <!-- Load fonts -->
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400italic" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="./css/index.css">

    <title>IsWebsiteUp | check if website is up or down right now?</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row align-items-center h-100 justify-content-center">
            <div class="col">
                <div id="home" class="wrapper inactive">
                    <h1 id="logo"><img src="img/logo.png" width="64" height="64"
                            alt="is website up or down right now?" /> Is Website Up?</h1>
                    <div class="inner">
                        <p>check if website is up or down right now?</p>
                    </div>
                    <!-- Result-Website-Up -->
                    <div id="website-up" style="display: none;">
                        <span style="font-size: 2.0em;display: inline-block;">😎</span>
                        <p
                            style="display: inline-block;margin-left: 10px;vertical-align: middle;font-size:1.4em; color:green;">
                            Yey,
                            website is up!
                        </p>
                    </div>
                    <!-- #Result-Website-Up -->
                    <!-- Result-Website-Down -->
                    <div id="website-down" style="display: none;">
                        <span style="font-size: 2.0em;display: inline-block;">😱</span>
                        <p
                            style="display: inline-block;margin-left: 10px;vertical-align: middle;font-size:1.4em;color:red;">
                            Oh no,
                            website is down!
                        </p>
                    </div>
                    <!-- #Result-Website-Down -->
                    <form id="check-url-form" method="GET">
                        <input type="text" name="url" id="url" placeholder="test.com" autofocus>
                        <div class="inner">
                            <button id="check-btn" class="btn" type="submit">Check</button>
                        </div>
                    </form>
                </div>
                <div id="about" class="wrapper inactive">
                    <p>Hi, I'm <a href="https://nempet.me">Nemanja</a> 👋, a software engineer 👨‍💻. I created
                        'iswebsiteup' as
                        a side project so you
                        can
                        check if website is
                        down or up. Enjoy!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"
        integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"
        integrity="sha256-vb+6VObiUIaoRuSusdLRWtXs/ewuz62LgVXg2f1ZXGo=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <!-- Local scripts -->
    <script src="./js/global.js"></script>

    <script>
        $(document).ready(function () {
            // Loading design components and cleaning up
            $('#website-up').hide();
            $('#website-down').hide();
            $('#home').fadeIn(300).removeClass('inactive');
            $('#url').val('');
            $('#url').focus();

            function checkUrl() {
                $('#website-up').hide();
                $('#website-down').hide();
                $.get('/' + encodeURIComponent($("#url").val()), function (res) {
                    switch (res.message) {
                        case 'Up':
                            $('#website-up').fadeIn(300).show();
                            break;
                        default:
                            $('#website-down').fadeIn(300).show();
                    }
                });
            };

            // Registering form regex method validator
            $.validator.addMethod(
                'regex',
                function (value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                'Please check your input.'
            );

            // Registering form validator
            $('#check-url-form').validate({
                rules: {
                    url: {
                        required: true,
                        regex: '^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$'
                    }
                },
                messages: {
                    url: {
                        required: 'URL is required.',
                        regex: 'Invalid URL.'
                    }
                },
                submitHandler: function (form) {
                    checkUrl();
                    return false;
                }
            });

            // OnClick handle
            $('#check-btn').click(function (e) {
                e.preventDefault();
                if (!$('#check-url-form').valid()) {
                    return false;
                }
                checkUrl();
            });
        });
    </script>
</body>

</html>